.services_comp {
    min-height: 100vh;
    padding: 5% 0 5% 5%;
}

.service {
    text-align: center;
}

.service .line {
    display: flex;
    justify-content: center;
}

.service hr {
    width: 80%;
    height: 1px;
    background-color: #000;
    transform: translateX(-5%);
}

.service:last-child hr {
    display: none;
}

.content {
    display: grid;
    grid-template-columns: 50% 46%;
    grid-gap: 4%;
    font-size: 1.8rem;
    align-items: center;
    justify-items: center;
    text-align: left;
    padding: 3% 0;
}

.content img {
    width: 60%;
    object-fit: cover;
}

.name_container {
    overflow-y: hidden;
}

.service:first-child .content img {
    justify-self: end;
}

.content .resize_image {
    width: 30%;
}

.service:nth-child(even) .content {
    grid-template-columns: 46% 50%;
}

.service:nth-child(even) .content .name_container {
    order: 2;
}

@media screen and (max-width:768px) {
    .services_comp {
        font-size: 1.3rem;
        padding: 5% 3%;
    }
    .services>h1 {
        padding-left: 5%;
    }
    .content,
    .service:nth-child(even) .content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 35%;
        grid-gap: 5%;
        font-size: 1.5rem;
        text-align: center;
    }
    .content img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .service .content .name_container {
        order: 2;
    }
    .service .content .name_container h1 {
        font-size: 2.3rem;
    }
    .service hr {
        margin-top: 15%;
    }
    .content .resize_image {
        width: 100%;
        height: 60%;
    }
}