.title h1 {
    font-size: 3rem;
}

.title hr {
    height: 1px;
    background-color: black;
    opacity: 0.5;
}

.white h1 {
    color: #fff;
    font-size: 3rem;
}

.white hr {
    background-color: #fff;
    height: 1px;
    opacity: 0.5;
}