.experience {
    min-height: 100vh;
    padding: 5%;
    font-size: 1.5rem;
}

.card {
    border: 0;
}

.card_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    border: 0;
    margin-top: 5%;
    padding-left: 0;
}

.card_header h1 {
    font-size: 2rem;
    font-weight: bold;
}

.card:last-child>hr {
    display: none;
}

@media screen and (max-width:340px) {
    .card_header h1 {
        word-break: break-all;
    }
}